.e-theme-l5 {color:#0b0329 !important; background-color:#ffffff !important}
.e-theme-l1 {color:#0b0329 !important; background-color:#ffc9aa !important}
.e-theme-d2 {color:#0b0329 !important; background-color:#c02300 !important}
.e-theme-d3 {color:#fff !important; background-color:#a81f00 !important}


.e-theme {color:#ffffff !important; background-color:#f22c00 !important}
.e-text-theme {color:#f22c00 !important}
.e-border-theme {border-color:#f22c00 !important}

.e-hover-theme:hover {color:#fff !important; background-color:#f22c00 !important}
.e-hover-text-theme:hover {color:#f22c00 !important}
.e-hover-border-theme:hover {border-color:#f22c00 !important}